.btn_link{
    text-decoration: none;
    color: white;
}
.rightpart
{
    width: auto;
    height: auto;
    background-color: skyblue;
    margin-top: 42px;
    padding: 20px;
    border-radius: 10px;
}
.buttonpart
{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    
}